/* box--login-register  and form */


.box--login-register{
    display: flex;
    flex-direction: column;
    
    
}

.box--login-register input{
    background: none;
    border-color : rgba(0, 0,0,0);
    border-bottom: 1px solid #fff;
    padding: 5px;
    color:#fff;
    transition: 0.3 linear;
}


.box--login-register input::placeholder{
    color:#fff;
    
}


.box--login-register input:focus{
    outline: 0;
    color:#fff;

}


/* button */

.btn{ 
    border-radius: 15px;
    text-align: center;
    border: 1px solid;
    padding: 5px;
}



/* New hero */

.new-hero__classes{ 
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    
    padding: 1rem;
}

.new-hero__classes .buttons{ 
    padding: 1rem;
    border:1px solid; 

}

.new-hero__classes .buttons--active , .new-hero__classes .buttons:hover{ 
    border-color : red ; 
}

.new-hero__attributs{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}